* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-131921: #131921;
  --text-primary: #081c36;
  --item-hover: #eaedf0;
  --border: #d6dbe1;
  --background-selected: #e5efff;
  --color-7589A3: #7589A3;
}
body {
  font-family: "Rubik", sans-serif;
}
a {
  text-decoration: none;
  display: inline-block;
}
.layout{
  display: flex;
  height: 100vh;
}

.sidebar {
  display: flex;
  height: 100%;
}

.main-tab {
  width: 64px;
  display: flex;
  flex-direction: column;
  background-color: #0091ff;
  max-width: 64px;
}

.top-tab {
  display: flex;
  flex-direction: column;
}

.bottom-tab {
  display: flex;
  flex-direction: column;
}

.contain {
  width: 330px;
}
.avatar {
  height: 100px;
  justify-content: center;
  display: flex;
  padding-top: 32px;
  box-sizing: border-box;
}
.avatar-img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.tab {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.navlink {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
}
.selected{
  background-color: #006edc;
}
.nav-icon {
  color: #fff;
  font-size: 26px;
  font-weight: 500;
}
.contact-search {
  height: 64px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact-search-input {
  background-color: #eaedf0;
  border: none;
  font-weight: 400;
  line-height: 32px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 30px;
  font-size: 14px;
  border-radius: 5px;
}
.group-search {
  background-color: #eaedf0;
  position: relative;
  width: 225px;
}
.contact-search-icon {
  position: absolute;
  font-size: 18px;
  margin: 0 12px;
  height: 100%;
  font-weight: 500;
}
.add-contact-icon {
  width: 32px;
  font-size: 20px;
  margin-top: 5px;
}
.add-group-icon {
  width: 32px;
  font-size: 20px;
  margin-top: 5px;
}
.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-bottom: 1px solid #ccc;
  height: 32px;
}
.all-contact {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
}
.un-read {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  color: #7589a3;
  margin-left: 12px;
}
.group-filter-type {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4px 0 8px;
  border-radius: 12px;
}
.filter-type {
  font-size: 13px;
}
.filter-more-icon {
  font-size: 20px;
  margin-left: 4px;
}
.filter-type-icon {
  font-size: 13px;
  margin: 0 4px;
}
.message-item {
  position: relative;
  padding: 0 16px;
  height: 74px;
  display: flex;
  align-items: center;
}
.time-contact {
  position: absolute;
  right: 15px;
  top: 12px;
}
.avatar-contact {
  margin-right: 12px;
}
.name-contact {
  font-size: 16px;
}
.content-contact {
  font-size: 14px;
  color: #7589a3;
}
.time-contact {
  font-size: 12px;
  color: #7589a3;
}

.chat-on-board {
  border-left: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}
.header {
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-bottom: 1px solid #ccc;
}
.header-icon {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-icon-image {
  font-size: 20px;
}
.name-contact-header {
  font-size: 18px;
  font-weight: 600;
}
.access-hisory {
  display: flex;
  align-items: center;
  justify-content: center;
}
.access-hisory .border {
  border: 1px solid #d6dbe1;
  height: 12px;
  margin: 0 10px;
}
.access-history-text {
  font-size: 14px;
  color: #7589a3;
}

.container-message{
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

}
.message-view {
  background-color: #a8a69f;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 562px;
}

.chat-avatar-img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.chat-item {
  display: flex;
  margin: 0 16px 7px;
  padding: 10px 0;
  align-items: flex-start;
}
.card {
  background-color: #c7e0ff;
  position: relative;
  padding: 12px;
  border-radius: 8px;
}
.message-reaction {
  position: absolute;
  bottom: -15px;
  right: 5px;
  background-color: #fff;
  width: 26px;
  height: 26px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.time-chat-message {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  font-weight: 500;
}
.chat-content {
  margin-left: 10px;
}
.chat-item-me {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 16px;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 8px;
  height: 48px;
  border-top: 1px solid #d6dbe1;
  position: absolute;
  bottom: 58px;
  width: 100%;
}
.toolbar-icon {
  margin-right: 10px;
}
.chat-input-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px 7px;
}
.icon{
  border-radius: 3px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon:hover {
  background-color: var(--item-hover);
  cursor: pointer;
}
.chat-input-icon:last-child {
  margin-right: 10px;
}
.chat-input {
  padding: 12px 10px 18px 16px;
  flex: 1;
  border: none;
  outline: none;
}
.chat-input-container {
  border-top: 1px solid var(--border);
  height: 58px;
  position: absolute;
  bottom: 0;
  width: 100%;
}


/* Contact */
.contact{
  flex: 1;
  display: flex;
}
.main-contact{
  border-left: 1px solid var(--border);
  flex: 1;
}
.menu-contact{
  display: flex;
  flex-direction: column;
  width: 330px;
}
.main-contact-header{
  height: 65px;
  padding: 0 19px;
  border-bottom: 1px solid var(--border);
  align-items: center;
  display: flex;
}
.contact-item{
  padding: 0 18px;
  display: flex;
  align-items: center;
  height: 56px;
}
.contact-item:hover{
  background-color: var(--item-hover);
  cursor: pointer;
}
.select{
  background-color: var(--background-selected);
}
.card-list-wrapper{
  margin: 0 auto;
  padding: 0 16px;
  height: 580px;
  background-color: #f7f7f8;
}
.card-list-wrapper .title{
  height: 64px;
  display: flex;
  align-items: center;
  font-size: 13px;
  color: var(--text-primary);
  font-weight: 600;
}
.card-list-wrapper .card-contact{
  background-color: #fff;
  height: 100%;
  padding-left: 16px;
}
.contact-filter{
  display: flex;
  align-items: center;
  height: 64px;

}
.contact-filter-select{
  display: flex;
  width: 271px;
  height: 32px;
  align-items: center;
  padding: 0 12px;
  border-radius: 5px;
  background-color: #eaedf0;
  border: 1px solid #eaedf0;
  margin-left: 8px;
}
.card-list-wrapper .label{
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
}
.friend-item{
  display: flex;
  align-items: center;
  height: 72px;
}
.friend-item .name{
  flex: 1;
  font-size: 16px;
  font-weight: 600;
  color: var(--text-primary);
  margin-left: 12px;
}
.icon-more-img{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.4);
}
.icon-more{
  margin-right: 16px;
}
.contact-filter .group-search{
  width: 333px;
  border: 1px solid var(--border);
  border-radius: 5px;
}
.contact-filter #contact-search-input{
  background-color: #fff;
  border: var(--border);
}
.contact-filter-select .name-filter{
  flex: 1;
  font-size: 13px;
  margin-left: 10px;
}
.contact-item-icon{
  font-size: 20px;
}
.contact-item span{
  font-size: 16px;
  font-weight: 600;
  margin-left: 16px;
}
.main-contact-header span{
  font-size: 16px;
  font-weight: 600;
  margin-left: 16px;
}
.group-item{
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--border);
}
.avatar-container{
  width: 48px;
  height: 48px;
  position: relative;
}
.avatar-container>img{
  width: 26px;
  height: 26px;
  border-radius: 15px;
}
.avatar-container>img:nth-child(1){
  position: absolute;
  right: 0;
  top: 0;
}
.avatar-container>img:nth-child(2){
  position: absolute;
  left: 0;
  bottom: 0;
}
.avatar-container>img:nth-child(3){
  position: absolute;
  right: 0;
  bottom: 0;
}
.namegroup-quantity{
  flex: 1;
  margin-left: 12px;
}
.namegroup-quantity > .namegroup{
  font-size: 16px;
  color: var(--text-primary);
  font-weight: 600;
}
.namegroup-quantity > .quantity{
  font-size: 13px;
  color: #7589A3;
}
.card-wrapper{
  width: 364px;
  background-color: #fff;
  border-radius: 6px;
  padding: 16px;
}
.card-user{
  display: flex;
  align-items: center;
  margin-bottom: 17px;
}
.card-message{
  height: 58px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid var(--border);
  margin-bottom: 16px;
  overflow: hidden;
}
.card-avatar-container{
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-avatar-img{
  line-height: 1.5;
  border: 1px solid var(--border);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.card-name > .name{
  font-size: 16px;
  font-weight: 600;
}
.card-name > .time{
  font-size: 14px;
  color: var(--color-7589A3);
}
.card-name{
  margin-left: 8px;
  flex: 1;
}
.go-to-chat{
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-go-to-chat{
  font-size: 20px;
}
.card-cta > .btn{
  width: 162px;
}
.card-cta > .btn-primary{
  margin-left: 8px;
}
.btn-reject{
  width: 100%;
}
